In [1]:
# 导入模块
import numpy as np

# 一、 数据类型

## 1.1 列表

### 1.1.1 基础

In [2]:
list = ['1',2,3,4]
list[0] = 111
del list[1]
print(list[0:1])  # 左闭右开
print(list[1:])
list[2:] = ['你','好']
print(list)
list[2:2] = [999] # 插入
print(list)

[111]
[3, 4]
[111, 3, '你', '好']
[111, 3, 999, '你', '好']

### 1.1.2 常用方法

#### 添加 append

In [3]:
list = [1,2,3,4,5]
box = 111
list.append(box)
print(list)

[1, 2, 3, 4, 5, 111]

#### 清空 clear

In [4]:
list = [1,2,3,4,5]
list.clear()
print(list)

[]

#### 计数 count（某元素出现次数）

In [5]:
list = [1,2,3,4,5,5,5,5,5]
num = list.count(5)
print(num)

5

#### 扩展 extend

In [6]:
list1 = ['你好']
list2 = ['Python']
list1.extend(list2)
print(list1)

['你好', 'Python']

#### 查找 index

In [7]:
list = ['Python', 'Token', 'Java']
index = list.index('Token')
print(index)

1

#### 插入 insert

In [8]:
list = [1,2,3,4,6]
list.insert(4,555)
print(list)

[1, 2, 3, 4, 555, 6]

#### 弹出 pop

In [9]:
list = [1,2,3,4,999]
list.pop()

print(list)

[1, 2, 3, 4]

#### 删除第一个“指定值”元素 remove

In [10]:
list = ['Python','Java','Javascript']
list.remove('Python')

print(list)

['Java', 'Javascript']

#### 翻转 reverse

In [11]:
list = [1,2,3,4,5,6]
list.reverse()

print(list)

[6, 5, 4, 3, 2, 1]

#### 排序 sort

In [12]:
num = [1,9, 11, 3, 10]
# num.sort(key= lambda x: x*(-1))
num.sort(reverse=False)
print(num)

[1, 3, 9, 10, 11]

## 1.2 元组

tuple一旦初始化就不能修改

In [13]:
tuple1 = (1,2,3,4)

print(tuple1)

(1, 2, 3, 4)

## 1.3 字符串

### 1.3.1 基础

In [14]:
str = '123123'

### 1.3.2 常用方法

#### 切片

In [15]:
str = '123456'
print(str[0:3])

123

#### 格式化 format

In [16]:
str = "广元有{0},{2},{1}"
list = ["蒸凉面","剑门关","武则天"]
res = str.format(*list)
print(res)

广元有蒸凉面,武则天,剑门关

In [17]:
str = "广元有{food},{scenery},{people}"
dict = {"food":"蒸凉面","scenery":"剑门关","people":"武则天"}
res = str.format(**dict)
print(res)

广元有蒸凉面,剑门关,武则天

In [18]:
PI = 3.1415926
str = "{:.4f}".format(PI)

print(str)

3.1416

#### 查找特定值 find
find(self, sub, start=None, end=None)

In [19]:
str = '一庭春雨，满架秋风'

res1 = str.find("春雨",1,5)
res2 = str.find("夏雨")

print(res1,res2)

2 -1

#### join

In [20]:
jobs = ['lawer','teacher',"player"]
str = ' and '.join(jobs)

print(str)

lawer and teacher and player

#### 转大小写 lower upper

In [21]:
str = 'Such a beautiful girl'
res1 = str.lower()
res2 = str.upper()

print(res1,'\n',res2)

such a beautiful girl
 SUCH A BEAUTIFUL GIRL

#### 替换 replace
replace(self, old, new, count=None) return newStr

注意：
+ 原字符串不变，返回替换后的字符串
+ 方法replace用于将字符串中的某子串进行替换，默认替换指定的所有子串。old为旧的字符串，new为新的字符串，count为替换的次数。

In [22]:
word = '博文'
newWord = 'Adam'
str = '博文天天睡觉不洗澡，博文他妈天天日决他，博文他妈天天劝博文他爸'
newStr = str.replace(word,newWord)

print(newStr)

Adam天天睡觉不洗澡，Adam他妈天天日决他，Adam他妈天天劝Adam他爸

#### 分割 split

split(self, sep=None, maxsplit=-1)
maxsplit为最多分隔的次数，-1表示全部分隔。

In [23]:
str = '天津、上海、广州、广元'
citys = str.split('、')

print(citys)

['天津', '上海', '广州', '广元']

#### 移除开头结尾指定字符 strip

In [24]:
str = "       a        "
newStr = str.strip(" ")

print(newStr)

a

#### 字符替换 translate

translate(self, table)

方法translate根据由maketrans函数生成的对照表table完成字符替换，table 是对照表，是由maketrans函数生成。

注意：
+ 要求对照表字符len一样（扯淡！！！）

In [25]:
table = str.maketrans("博文","阿文")
str = '博文天天睡觉不洗澡，博文他妈天天日决他，博文他妈天天劝博文他爸'
res = str.translate(table)

print(res)

阿文天天睡觉不洗澡，阿文他妈天天日决他，阿文他妈天天劝阿文他爸

## 1.4 字典

### 1.4.1 基础

In [26]:
dic = {'name': 'Adam', 'age': '15'}

### 1.4.2 常用方法

#### 清空 clear

In [27]:
dic = {'name': 'Adam', 'age': '15'}
dic.clear()

print(dic)

{}

#### 浅拷贝 copy

In [28]:
dic = {'name': 'Adam', 'age': '15', 'obj':{'num':99}}
dic2 = dic.copy()
dic['obj']['num'] = 88

print(dic2)

{'name': 'Adam', 'age': '15', 'obj': {'num': 88}}

#### 创建新字典 fromkeys
依据给定的键序列和可选的默认值来创建字典

In [29]:
items = ['Adam','Douaa']
defaultAge = 18

dic = dict.fromkeys(items,defaultAge)
print(dic)

{'Adam': 18, 'Douaa': 18}

#### 获取值 get

In [30]:
dic = {'name': 'Adam', 'age': '15', 'obj':{'num':99}}
value = dic.get('name')

print(value)

Adam

#### 返回字典中键值对的视图 items
视图以可迭代的形式呈现，其中每个元素是一个包含键和对应值的元组。

In [31]:
dic = {'name': 'Adam', 'age': '15', 'obj':{'num':99}}
list = dic.items()

for key,value in list:
    print(f"key:{key}, value:{value}")

key:name, value:Adam
key:age, value:15
key:obj, value:{'num': 99}

#### 返回所有键 keys

In [32]:
dic = {'name': 'Adam', 'age': '15', 'obj':{'num':99}}
keys = dic.keys()

for key in keys:
    print(f"key:{key}, value:{dic[key]}")

key:name, value:Adam
key:age, value:15
key:obj, value:{'num': 99}

#### 返回所有值 values

In [33]:
dic = {'name': 'Adam', 'age': '15', 'obj':{'num':99}}
values = dic.values()

print(values)

dict_values(['Adam', '15', {'num': 99}])

#### 删除指定键值对 pop(self, key, default=None)

In [34]:
dic = {'name': 'Adam', 'age': '15', 'obj':{'num':99}}
dic.pop('name')

print(dic)

{'age': '15', 'obj': {'num': 99}}

#### 查询值setdefault(self, key, default=None)

查询值，不在扔进去

In [35]:
dic = {'name': 'Adam', 'age': '15', 'obj':{'num':99}}
value = dic.setdefault('girl','Douaa')

print(value,dic)

Douaa {'name': 'Adam', 'age': '15', 'obj': {'num': 99}, 'girl': 'Douaa'}

#### 浅更新 update

同名key，直接覆盖。原dict不存在的key，直接扔进去

In [36]:
dic = {'name': 'Adam', 'age': '15', 'obj':{'num':99,'num2':11}}
dic2 = {'name':'Douaa','age':'18','birth':'3-10','obj':{'num':11}}
dic.update(dic2)

print(dic)

{'name': 'Douaa', 'age': '18', 'obj': {'num': 11}, 'birth': '3-10'}

# 二、三大语句

## 2.1 顺序语句

### 2.1.1 链式赋值(雷！狗都不用)

In [37]:
a = b = c= 1
print(a,b,c)

a = b = c = {'age':99}
b['age'] = 11 

print(a,b,c)

1 1 1
{'age': 11} {'age': 11} {'age': 11}

### 2.1.2 try catch

In [38]:
try:
    1/1
except:
    print('there are something wrong!!!')
else:
    print('God job')
finally:
    print('END')

God job
END

## 2.2 条件语句

In [39]:
flag = 1991

if flag < 100 and True:
    print('Hello Douaa')
elif flag < 200 and 1==1:
    print('Hello Adam')
else:
    print('hello China')

hello China

## 2.3 循环语句

### 跳出循环 break、continue

### while循环

In [40]:
num = 0

while num < 3:
    num +=1
    print(num)
else:
    print('end')

1
2
3
end

### for循环

In [41]:
nums = range(1,10)
for num in nums:
    print(num)
else:
    print('End')

1
2
3
4
5
6
7
8
9
End

# 三、函数、类和对象

## 3.1 函数

### 3.1.1 定义

In [42]:
def add(num1,num2):
    return num1+num2

res = add(1,2)
print(res)

3

### 3.1.2 参数

顺序必须是：必选参数、默认参数、可变参数、命名关键字参数和关键字参数。

+ 默认参数

In [43]:
# 默认参数
def fn(x,y=1):
    return x*y

+ 可变参数

In [44]:
def calc(*nums):
    print(nums)
    sum = 0
    for num in nums:
        sum += num
    return sum

sum = calc(1,2,3,4,5)

print(sum)

(1, 2, 3, 4, 5)
15

+ 关键字参数

In [45]:
def getName(**obj):
    if 'name' in obj:
        return obj['name']
    else:
        return 'None'

obj = {'name':'Adam'}
myName = getName(**obj)
print(myName)

Adam

### 3.1.3 注意事项

1. 在函数内部的任何位置定义的变量，*在函数体的其他部分都可以被访问和使用*，只要该变量在使用之前已经被定义。

In [46]:
import math
def getFlag(num):
    if num > 10:
        flag = 1
    else:
        flag = 0
    flag = bool(flag)
    return flag

res = getFlag(1)
print(res)

False

### 3.1.4 空函数

In [47]:
def fn():
    pass

## 3.2 高阶函数

### 3.2.1 filter

In [48]:
# filter
def fn(num):
    return num > 10

res = filter(fn, [1, 5, 100, 23, 5, 15])

for value in res:
    print(value)

print(list(res))

100
23
15

TypeError: 'dict_items' object is not callable

### 3.2.2 map

In [ ]:
myData = map(lambda x: x * x, [1, 2, 3, 4, 5])
print(list(myData))

### 3.2.3 reduce

reduce(f, [x1, x2, x3, x4]) = f(f(f(x1, x2), x3), x4)

In [ ]:
from functools import reduce
def fn(x, y):
    return x + y + 10

res = reduce(fn, [1, 2, 3, 4, 5, 6])
print(res)

### 3.2.4 返回函数

In [ ]:
def getSum(*args):

    def calc():
        sum = 0
        for num in args:
            sum += num
        return sum

    return calc


sum = getSum(1, 2, 3, 4, 5)
print(sum())

### 3.2.5 lambda函数

In [ ]:
data = [1,2,3,4,5]
newData = map(lambda x:x*x, data)
print(list(newData))

## 3.3 类

### 3.3.1 定义

In [ ]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def getName(self):
        return self.name


XM = Person('Adam',18)
name = XM.getName()
print(name)

### 3.3.2 继承

#### 单继承

In [ ]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def getName(self):
        return self.name

    def setName(self, name):
        self.name = name

class Stu(Person):
    
    def __init__(self, name, age, ID):
        # Person.__init__(self, name, age)
        super().__init__(name, age)
        self.ID = ID

    def getInfo(self):
        print(f'name:{self.name}, age:{self.age}, ID:{self.ID}')

stu = Stu('Adam',18,'510802')
stu.getInfo()

#### 多重继承

（1）基础版

In [ ]:
class Person:
    def __init__(self, name):
        self.name = name

    def getName(self):
        return self.name

    def setName(self, name):
        self.name = name

class Animal:
    def __init__(self, age):
        self.age = age

    def getAge(self):
        return self.age

class Stu(Person, Animal):

    def __init__(self,name,age,ID):
        Person.__init__(self, name)
        Animal.__init__(self, age)
        self.ID = ID
    
    def getInfo(self):
        print(f'name:{self.name}, age:{self.age}, ID:{self.ID}')

stu = Stu('Adam',18,'510802')
stu.getInfo()

（2）super版

In [ ]:
class Person:
    def __init__(self, name, **kwargs):
        self.name = name
        super().__init__(**kwargs)

    def getName(self):
        return self.name

    def setName(self, name):
        self.name = name

class Animal:
    def __init__(self, age, **kwargs):
        self.age = age
        super().__init__(**kwargs)

    def getAge(self):
        return self.age

class Stu(Person, Animal):

    def __init__(self,name,age,ID,**kwargs):
        # Person.__init__(self, name)
        # Animal.__init__(self, age)
        super().__init__(name=name,age=age,**kwargs)
        self.ID = ID
    
    def getInfo(self):
        print(f'name:{self.name}, age:{self.age}, ID:{self.ID}')

    # 重写
    def getName(self):
        print(f'Stu\'s name:{self.name}')

stu = Stu('Adam',18,'510802')
stu.getInfo()
stu.getName()
# print(stu.mro())

#### 多级继承

In [ ]:
class Person:
    def __init__(self,age,**kwargs):
        super().__init__(**kwargs)
        self.age = age

class Man(Person):
    def __init__(self,name,**kwargs):
        super().__init__(**kwargs)
        self.name = name

    def getName(self):
        return self.name


class Stu(Man):
    def __init__(self,ID,**kwargs):
        super().__init__(**kwargs)
        self.ID = ID

    def getInfo(self):
        name = super().getName()
        print(f'name:{name}, age:{self.age}, ID:{self.ID}')

info = {'ID':"510802", "name":'Adam', "age":18}
XM = Stu(**info)
XM.getInfo()

#### 多态

调用方只管调用，不管细节

In [ ]:
def run(water):
    water.show()

class Water:
    def show(self):
        pass

class Ice(Water):
    def show(self):
        print('Im ice')

class Steam(Water):
    def show(self):
        print('Im water')

run(Ice())
run(Water())

### 3.3.3 类、静态方法

In [ ]:
class Person:

    @classmethod
    def getClassName(cls):
        print('Person')

    @staticmethod
    def getInfo():
        print('Class Person')

Person.getInfo()

区别：
+ 类方法需要自身类clc

# 四、文件的读写

## 4.1 python内置方法
### 4.1.1 读

步骤：
1. open
2. read、readline、readlines
3. close

In [ ]:
try:
    file = open('./chapter4/test.txt','r')
    # lines = file.readlines()
    # line = file.readline()
    content = file.read()    
    print(content)
finally:
    if file:
        file.close()

### 4.1.2 写

写文件时，操作系统往往不会立刻把数据写入磁盘，而是放到内存缓存起来，空闲的时候再慢慢写入。

In [ ]:
path = './chapter4/test.txt'
content = 'Nihao'
try:
    f = open(path,'a')
    f.write(content)
finally:
    f.close()

### 4.1.3 open方法
模式
+ w
+ r
+ a 追加

## 4.2 Numpy

### 4.2.1 读写csv、txt文件 

loadtxt，注意分隔符、编码等问题

In [ ]:
import numpy as np
path = './chapter4/test.csv'
csv = np.loadtxt(path, delimiter=',')
print(csv)

In [ ]:
import numpy as np
data = np.ones((3,3))
np.savetxt(fname='./chapter4/write.csv',X=data,delimiter=',',encoding='utf-8')

### 4.2.2 读写二进制文件
save

In [ ]:
import numpy as np
arr = np.arange(10).reshape(2,5,1)
np.save('./chapter4/arr.npy', arr)
res = np.load('./chapter4/arr.npy')
print(res)

### 4.2.3 读写`.dat`多维数据文件

In [ ]:
import numpy as np

fileName = './chapter4/data.dat'
data = np.arange(30).reshape(5,2,3)
data.tofile(fileName,sep=',',format='%d')

newData = np.fromfile(fileName, dtype=np.int64, sep=',')
print(newData)

## 4.3 Pandas

处理csv文件

In [ ]:
import pandas as pd
df = pd.read_csv('./chapter4/test.csv', header=None, delimiter=',')
df.to_csv('./chapter4/pandas_test.csv')
df.head()

处理xlxs文件

In [ ]:
import pandas as pd
excel = pd.read_excel('./chapter4/table.xlsx', sheet_name='Sheet1', header=0)
excel.to_excel('./chapter4/pandas_table.xlsx',sheet_name='Sheet1')
excel.head()

# 五、Numpy

## 5.1 生成数组

### ones 
全是1的矩阵

In [ ]:
import numpy as np

matrix1 = np.ones([4,4])
matrix1

### zeros_like(matrix) 
以matirx为规格生成全是元素0的矩阵

In [ ]:
import numpy as np

matrix1 = np.ones([4,4])
matrix2 = np.zeros_like(matrix1)
matrix2

### np.array(arr) 

复制，生成新数组

In [ ]:
import numpy as np

arr = [[1,2],[3,4]]
arr1 = np.array(arr)
arr1

### np.asarray(arr)

非必要不复制numpy数组，直接返回原np数组。

In [ ]:
import numpy as np

arr = np.array([[1,2],[3,4]])
arr2 = np.asarray(arr)
arr[1][1] = 99
print(arr)
print(arr2)
print(arr2 is arr)

### np.random.normal
生成服从正太分布的随机数数组

In [ ]:
import numpy as np

arr = np.random.normal(2,1,20) # 均值2、标准差1、20个
arr

### np.arange(start, stop, step) 
生成固定范围的数组[start, stop)

In [ ]:
arr = np.arange(10)
arr

### np.random.rand()
生成服从(0, 1]均匀分布的随机数

In [ ]:
import numpy as np
arr = np.random.rand(5)

arr

## 5.2 索引与切片

list和ndarray索引不同，list只可以[0][1]而ndarray可以[0,1]

In [ ]:
# 导入模块
import numpy as np
arr = [[[1,2,3],[4,5,6]],[[7,8,9],[10,11,12]]]
arr2 = np.array(arr)
print(arr2[0,:])
print(arr2[0][:])

print(arr[0][:])

## 5.3 形状修改

### 转置

In [ ]:
import numpy as np
arr = np.array([[1,2],[3,4]])
arr.T

### 扁平化 
+ reshape([row,col])
原数组不变，返回新数组
+ resize
直接改变原数组，方法同reshape

In [ ]:
import numpy as np
arr = np.array([[1,2],[3,4]])

new_arr = arr.reshape([1,4])
new_arr

In [ ]:
import numpy as np
arr = np.array([[1,2],[3,4]])
arr.resize([1,4])
print(arr)

### 复制
+ repeat(arr,reps,axis)
  1. reps: ele重复的次数
  2. 默认axis扁平化，0、1表示copy的方向x轴、y轴
+ tile(arr,reps)
  主要是复制整个块，而不是元素

In [ ]:
arr = np.array([[1,2],[3,4]])
flat_arr = np.repeat(arr,2,1)
print(flat_arr)

flat_arr2 = np.tile(arr,2)
print(flat_arr2)

flat_arr3 = np.tile(arr,(3,2)) # 行3次，列2次
print(flat_arr3)

### 拼接
np.concatenate((a, b), axis)

注意：
+ np.concatenate((a, b), 0) 与np.vstack((a, b))一样
+ np.concatenate((a, b), 1) 与np.hstack((a, b))一样

In [ ]:
arr1 = [[1,2],[3,4]]
arr2 = [[2,1],[4,3]]

res = np.concatenate((arr1,arr2),0) # 纵向copy
res2 = np.concatenate((arr1,arr2),1) # 横向copy
print(res)
print(res2)

## 5.4 修改类型
+ astype

In [ ]:
arr = np.array([[1,2],[3,4]])

str_arr = arr.astype(np.str_)
print(str_arr)

## 5.5 通用函数

### 去重 unique(arr,axis)

In [ ]:
arr = np.array([[[1,2],[3,4]],[[1,2],[3,4]]])
unique_arr = np.unique(arr,axis=0)

print(unique_arr)

### 交集与并集

In [ ]:
arr = [[0,1,2],[3,4,5]]
arr2 = [[3,4,5],[0,6,7]]

# 交集
intersectionArr = np.intersect1d(arr,arr2)
# 并集
unionArr = np.union1d(arr,arr2)

print(f'交集：{intersectionArr}，并集：{unionArr}')

### 绝对值 abs

### 平方根 sqrt

In [ ]:
arr = [1,2,3,4,5]
res = np.sqrt(arr)

res

### 平方 square

### 判断元素是否为空值

In [ ]:
arr = [1,2, np.nan,4]
res = np.isnan(arr)

res

### 筛选 where

where函数一般有两种使用方式：
+ 单参数用法（np.where(condition)）:当只传入一个条件数组时，where函数会返回满足该条件的元素的索引。
+ 三参数用法（np.where(condition, x, y)）:当传入一个条件数组和两个数组（或标量）时，where函数会根据条件数组中的元素是True还是False，分别从第一个或第二个数组（或标量）中选取元素。

In [ ]:
arr = np.arange(10)
res = np.where(arr >= 5, 1, 0)

res

In [19]:
arr = np.array([1,2,3,4,5,6])
res = np.where(arr > 3)

res

(array([3, 4, 5], dtype=int64),)

### 三角函数
+ sin
+ cos
+ tan

## 5.6 线性代数

### 对角阵 diag
创建对角矩阵和提取二维数组的对角线元素。

In [ ]:
arr = [1,2,3]
res = np.diag(arr)

arr2 = [[1,5,7],[3,6,9],[4,6,8]]
res2 = np.diag(arr2)

print(res)
print(res2)

### 求迹 trace

In [ ]:
arr = [[1,5,7],[3,6,9],[4,6,8]]
trace = np.trace(arr)

trace

### 矩阵乘积 dot

In [ ]:
a=[[1,2],[3,4]]
b=[[2,3],[4,5]]
res = np.dot(a,b)
print(res)

### 行列式 det

### 特征值、特征向量 linalg.eig

In [ ]:
arr = [[2,1],[1,2]]
eig = np.linalg.eig(arr)

print(f'特征值：{eig[0]},特征向量{eig[1]}')

### 矩阵的逆 linalg.inv

### 求解线性方程组 linalg.solve
求解线性方程组 Ax=b的解

In [ ]:
A = np.array([[3,1],[1,2]])
b = np.array([9,8])
svd = np.linalg.solve(A,b)
print('解：',svd)

# 验证
print(np.dot(A,svd))

### 矩阵的奇异值分解

np.linalg.svd(a, full_matrices = 1, compute_uv = 1)可以用于矩阵的奇异值分解，返回该矩阵的左奇异值（u）、奇异值（s）、右奇异值（v）

## 5.7 统计分析

### 沿指定轴的和 sum
np.sum(a, axis)

In [ ]:
arr = [[1,2],[3,4]]
res = np.sum(arr, 0)

print(res)

### 沿指定轴平均值 mean
np.mean(a,axis)

### 指定轴最大、最小值
+ np.min(axis)
+ np.max(axis)

### 标准差 std(arr,axis)
### 方差 var(arr,axis)

### 沿指定轴最大、小值索引
+ argmin(arr, axis)
+ argmax(arr, axis)

In [ ]:
arr = np.array([[1,2],[3,5]])
res = np.argmax(arr, 0)

res

# 六、Pandas

In [3]:
import pandas as pd
import numpy as np

## 6.1 Series
Series是Pandas的核心数据结构之一，是一维数据结构。包含两个部分：index、values，基础结构都是ndarray。

### 6.1.1 创建

In [ ]:
dict = {'a':10, 'b':2, 'c':3}
data = pd.Series(dict)

data2 = pd.Series([1,2,3], index=['A','B','C'])
data2

### 6.1.2 访问
可下标、也可通过key

In [ ]:
dict = {'a':10, 'b':2, 'c':3}
data = pd.Series(dict)

print(data['a'], data[1])

### 6.1.3 修改索引 index

In [ ]:
dict = {'a':10, 'b':2, 'c':3}
data = pd.Series(dict)
data.index = ['O','P','Q']

data

### 6.1.4 拼接 concat

In [ ]:
data1 = pd.Series({'A':1,'BB':2})
data2 = pd.Series(['O','PP','QQ'],index=['R','S','T'])

data = pd.concat([data1,data2])
data

## 6.2 DataFrame
类似Excel表格的二维数据结构

### 6.2.1 创建

In [4]:
matrix = np.random.rand(3,3)
df = pd.DataFrame(matrix,index=list('ABC'),columns=list('XYZ'))

display(df)

df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
display(df1)

          X         Y         Z
A  0.287974  0.820574  0.136540
B  0.028603  0.280613  0.372162
C  0.740305  0.902013  0.676534

   A  B
0  1  3
1  2  4

### 6.2.2 列操作
#### 基础
1. df[index] = [,,,]
2. df.index
3. 按序号：df.iloc[:,:]
4. 按索引：df.loc[:, :]

In [5]:
print(df[['X','Y']])

print(df.iloc[:,1:2]) # 左闭右开

          X         Y
A  0.287974  0.820574
B  0.028603  0.280613
C  0.740305  0.902013
          Y
A  0.820574
B  0.280613
C  0.902013

In [ ]:
df['SSS'] = [1,1,1]
df

#### 删除 del

In [ ]:
del df['SSS']

df

### 6.2.3 行操作
#### 基础
1. iloc[][]
2. loc[][]

In [ ]:
x = df.iloc[0]
x

#### 创建

In [6]:
se = pd.Series([1,2,3],index=list('XYZ'),name='t')
newDf = pd.concat([df, se.to_frame().T])

print(newDf)

          X         Y         Z
A  0.287974  0.820574  0.136540
B  0.028603  0.280613  0.372162
C  0.740305  0.902013  0.676534
t  1.000000  2.000000  3.000000

#### 删除

In [8]:
newDf.drop(['A'],axis=0)

          X         Y         Z
B  0.028603  0.280613  0.372162
C  0.740305  0.902013  0.676534
t  1.000000  2.000000  3.000000

### 6.2.4 数据查询

In [9]:
arr = np.array([[1,2,3],[4,5,6],[7,8,9]])
df = pd.DataFrame(arr, index=list('123'),columns=list('ABC'))

display(df)

   A  B  C
1  1  2  3
2  4  5  6
3  7  8  9

#### 按区间范围

In [11]:
df.loc['1':'2','A']

1    1
2    4
Name: A, dtype: int32

#### 按条件表达

In [25]:
df.loc[df['C']>=6,:]

   A  B  C
2  4  5  6
3  7  8  9

#### 按值查询

In [27]:
df.loc['1','C']

3

#### 按列表

In [31]:
df.loc[['1','2'],['C','B']]

   C  B
1  3  2
2  6  5

#### 按自定义函数查找

In [32]:
df.loc[lambda df: df['C'] > 5, :]

   A  B  C
2  4  5  6
3  7  8  9

### 6.2.5 数据统计

In [55]:
df = pd.DataFrame(np.random.rand(3,3),columns=list('ABC'),index=[1,2,3])
df

          A         B         C
1  0.464494  0.797206  0.426010
2  0.974974  0.556471  0.844807
3  0.331094  0.985276  0.760917

#### 排序
注意，此时index需要是int类型

In [61]:
df2 = df.sort_index(ascending=False) # ascending=True 升序
df2

          A         B         C
3  0.331094  0.985276  0.760917
2  0.974974  0.556471  0.844807
1  0.464494  0.797206  0.426010

#### 统计指标

In [140]:
file = pd.read_csv('./pandas/test1.CSV')
display(file)

file.describe()

# print(file['size'].mean())

  name  size level  weight
0    A   919     s      90
1    B   223     a      30
2    C    33     d     210
3    D    32     b     199
4    E  2999     s     140
5    F     2     d     200

              size      weight
count     6.000000    6.000000
mean    701.333333  144.833333
std    1178.065986   72.719782
min       2.000000   30.000000
25%      32.250000  102.500000
50%     128.000000  169.500000
75%     745.000000  199.750000
max    2999.000000  210.000000

#### 分类汇总
GroupBy可以计算目标类别的统计特征，例如按“place_of_production”、“level”将物品分类，并计算所有数字列的统计特征

In [141]:
file2 = pd.read_csv('./pandas/test2.CSV')

display(file2)
file2.groupby(['place_of_production','level']).describe()

  name  number  size level  weight place_of_production
0    A      10   919     s      90           factory-A
1    B      30   223     a      30           factory-A
2    C     150    33     d     210           factory-B
3    D    2000    32     b     199           factory-F
4    E       5  2999     s     140           factory-M
5    F    1000     2     d     200           factory-F
6    G    1200   201     d    1021           factory-F
7    H      15  3220     s     192           factory-M

                          number                                              \
                           count    mean         std     min     25%     50%
place_of_production level
factory-A           a        1.0    30.0         NaN    30.0    30.0    30.0
                    s        1.0    10.0         NaN    10.0    10.0    10.0
factory-B           d        1.0   150.0         NaN   150.0   150.0   150.0
factory-F           b        1.0  2000.0         NaN  2000.0  2000.0  2000.0
                    d        2.0  1100.0  141.421356  1000.0  1050.0  1100.0
factory-M           s        2.0    10.0    7.071068     5.0     7.5    10.0

                                           size          ...                   \
                              75%     max count    mean  ...      75%     max
place_of_production level                                ...
factory-A           a        30.0    30.0   1.0   223.0  ...   223.00   223.0
                    s        10.0    10.0   1.0   919.0  ...   919.00   919.0
factory-B           d       150.0   150.0   1.0    33.0  ...    33.00    33.0
factory-F           b      2000.0  2000.0   1.0    32.0  ...    32.00    32.0
                    d      1150.0  1200.0   2.0   101.5  ...   151.25   201.0
factory-M           s        12.5    15.0   2.0  3109.5  ...  3164.75  3220.0

                          weight                                           \
                           count   mean         std    min     25%    50%
place_of_production level
factory-A           a        1.0   30.0         NaN   30.0   30.00   30.0
                    s        1.0   90.0         NaN   90.0   90.00   90.0
factory-B           d        1.0  210.0         NaN  210.0  210.00  210.0
factory-F           b        1.0  199.0         NaN  199.0  199.00  199.0
                    d        2.0  610.5  580.534667  200.0  405.25  610.5
factory-M           s        2.0  166.0   36.769553  140.0  153.00  166.0


                              75%     max
place_of_production level
factory-A           a       30.00    30.0
                    s       90.00    90.0
factory-B           d      210.00   210.0
factory-F           b      199.00   199.0
                    d      815.75  1021.0
factory-M           s      179.00   192.0

[6 rows x 24 columns]

按place_of_production、level排序，分析number的均值、和

In [143]:
file2.groupby(['place_of_production','level'])['number'].agg([np.mean, np.sum])

                             mean   sum
place_of_production level
factory-A           a        30.0    30
                    s        10.0    10
factory-B           d       150.0   150
factory-F           b      2000.0  2000
                    d      1100.0  2200
factory-M           s        10.0    20

In [152]:
df3 = file2.groupby('place_of_production')

display(df3.describe())

for name, group in df3:
    print(name)
    print(group)
    print('=============')

                    number                                              \
                     count    mean         std     min     25%     50%
place_of_production
factory-A              2.0    20.0   14.142136    10.0    15.0    20.0
factory-B              1.0   150.0         NaN   150.0   150.0   150.0
factory-F              3.0  1400.0  529.150262  1000.0  1100.0  1200.0
factory-M              2.0    10.0    7.071068     5.0     7.5    10.0

                                     size               ...                   \
                        75%     max count         mean  ...      75%     max
place_of_production                                     ...
factory-A              25.0    30.0   2.0   571.000000  ...   745.00   919.0
factory-B             150.0   150.0   1.0    33.000000  ...    33.00    33.0
factory-F            1600.0  2000.0   3.0    78.333333  ...   116.50   201.0
factory-M              12.5    15.0   2.0  3109.500000  ...  3164.75  3220.0

                    weight                                               \
                     count        mean         std    min    25%    50%
place_of_production
factory-A              2.0   60.000000   42.426407   30.0   45.0   60.0
factory-B              1.0  210.000000         NaN  210.0  210.0  210.0
factory-F              3.0  473.333333  474.293510  199.0  199.5  200.0
factory-M              2.0  166.000000   36.769553  140.0  153.0  166.0


                       75%     max
place_of_production
factory-A             75.0    90.0
factory-B            210.0   210.0
factory-F            610.5  1021.0
factory-M            179.0   192.0

[4 rows x 24 columns]

factory-A
  name  number  size level  weight place_of_production
0    A      10   919     s      90           factory-A
1    B      30   223     a      30           factory-A
=============
factory-B
  name  number  size level  weight place_of_production
2    C     150    33     d     210           factory-B
=============
factory-F
  name  number  size level  weight place_of_production
3    D    2000    32     b     199           factory-F
5    F    1000     2     d     200           factory-F
6    G    1200   201     d    1021           factory-F
=============
factory-M
  name  number  size level  weight place_of_production
4    E       5  2999     s     140           factory-M
7    H      15  3220     s     192           factory-M
=============

# 其他

## 星号`*`、`**`的用途

1. `*`号
   + 乘法
   + 解包list、tuple、str
   + 定义函数时，收集参数
   + 调用函数时，分配参数
2. `**`号
   + 幂
   + 解包dict
   + 定义函数时，关键字参数
   + 调用函数时，分配参数

## Pandas与Numpy异同 
    1）Numpy是数值计算的扩展包，能够高效处理N维数组，即处理高维数组或矩阵时会方便。Pandas是python的一个数据分析包，主要是做数据处理用的，以处理二维表格为主。
    
    2）Numpy只能存储相同类型的ndarray，Pandas能处理不同类型的数据，例如二维表格中不同列可以是不同类型的数据，一列为整数一列为字符串。
    
    3）Numpy支持并行计算，所以TensorFlow2.0、PyTorch都能和numpy能无缝转换。Numpy底层使用C语言编写，效率远高于纯Python代码。
    
    4）Pansdas是基于Numpy的一种工具,该工具是为了解决数据分析任务而创建的。Pandas提供了大量快速便捷地处理数据的函数和方法。
    
    5）Pandas和Numpy可以相互转换，DataFrame转化为ndarray只需要使用df.values即可，ndarray转化为DataFrame使用pd.DataFrame(array)即可。